.huevo {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 30%;
    right: 0px;
    background-color: #5265E1;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 0% 0% 50% ;
    z-index:-1;
}
.nav-tabs .nav-link.active{
    border-bottom:solid 3px #FA5959;
    font-weight: bold;
}
.nav-tabs .nav-link{
    border-bottom:solid 2px rgba(128, 128, 128, 0.658);
}
#card{
    min-height: 25rem;
}
@media only screen and (max-width : 768px) {
    .navbar-collapse {
    
    background: black;
  }
  .nav-link{
    color:white;
  }
}