@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik', sans-serif !important;
}

.huevo {
    width: 30%;
    height: 50%;
    position: absolute;
    top: 30%;
    right: 0px;
    background-color: #5265E1;
    -moz-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    -webkit-border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border-radius: 50% 0% 0% 50% ;
    z-index:-1;
}
.huevo2{
    width: 30%;
    height: 50%; 
    top: 135%;    
    left: 0px;
    border-radius: 0% 50% 50% 0%;
    z-index:-1;       
    position: absolute;    
    background-color: #5265E1;
}
.nav-tabs .nav-link.active{
    border-bottom:solid 3px #FA5959;
    font-weight: bold;
}
.nav-tabs .nav-link{
    border-bottom:solid 2px rgba(128, 128, 128, 0.658);
    color: black;
}
#card{
    min-height: 25rem;
}
.btn-secondary{
    color:white;
}
.btn-secondary:hover{
    color:#FA5959;
    background-color: white;
}
#buttonCP:hover{
    color:#5265E1;
    background-color: white;
}
#buttonCS:hover{
    background-color: white;
    border:solid 1px black
}

.accordion-header button{
    color:black;
}
.accordion-header button:not(.collapsed){
    color:black;
}
.accordion-header button:hover{
    color:#FA5959;
}
aside{
    background-color:#5265E1;;
}
footer{
    background-color: #242946;
}

@media only screen and (max-width : 992px) {

    .huevo{
        height: 30%;
    }
    .huevo2{
        height: 30%;
    }
  }



@media only screen and (max-width : 768px) {
    .navbar-collapse {
    
    background: black;
  }
  .nav-link{
    color:white;
  }
  .huevo{
      height: 50%;
      width: 40%;
  }
  .huevo2{
    height: 50%;
    width: 40%;
}
}
@media only screen and (max-width : 576px) {
 

  .huevo{
      height: 30%;
      width: 40%;
  }
  .huevo2{
    height: 30%;
    width: 40%;
}
}