
$color1:#5265E1;
$color2:#FA5959;


$primary:$color1;
$secondary:$color2;
$nav-tabs-border-color:transparent;
$nav-tabs-link-hover-border-color:transparent transparent rgba(128, 128, 128, 0.658);
$nav-tabs-link-active-border-color:transparent ;
$navbar-light-hover-color: $secondary;
$nav-tabs-link-active-bg:null;
$nav-link-color:   black;
$navbar-light-toggler-icon-bg:url("/img/icon-hamburger.svg");




@import "../libs/bootstrap/scss/bootstrap";