
$color1:#5265E1;
$color2:#FA5959;


$primary:$color1;
$secondary:$color2;
$nav-tabs-border-color:transparent;
$nav-tabs-link-hover-border-color:transparent transparent rgba(128, 128, 128, 0.658);
$nav-tabs-link-active-border-color:transparent ;
$navbar-light-hover-color: $color2;
$nav-tabs-link-active-bg:null;
$nav-link-hover-color: $color2;
$nav-link-color: black;
$accordion-button-active-bg: transparent;
$accordion-button-active-color:  $color2;
$accordion-color: $color1;
$accordion-button-focus-border-color:transparent;
$accordion-button-focus-box-shadow: transparent;
$navbar-light-toggler-icon-bg:url("/img/icon-hamburger.svg");




@import "../libs/bootstrap/scss/bootstrap";